html{
    overflow-x: hidden;
}

body{
    overflow: hidden;
    margin: 0px;
    font-family: 'Mukta', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header{
    padding: 20px 30px;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: #fff;
}

.header .header__container{
    display: flex;
    align-items: center;
    font-size: 20px;
} 

.header .header__container a{
    color: #fff;
    transition: all 0.5s;
}

.header .header__container a:hover{
    color:#009f4d;
}

.header .header__menu{
    display: flex !important;
    flex-basis: auto;
    align-items: center;
    margin-left: auto !important;
}

.header .header__menu ul{
    display: flex;
}

.header .header__menu ul li{
    font-size: 18px;
    font-weight: 600;
    margin: 0 12px;
    cursor: pointer;
}

.header .header__menu ul li:first-child::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    display: flex;
}

.header .header__menu ul li:hover:after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    display: flex;
    transition: 0.5s all;
}

.header .header__share input{
    height: 45px;
    padding: 0px 15px;
    font-size: 15px;
    outline: none;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 70%;
    border: none;
}

.header .header__share button{
    border-left: none;
    width: 30%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #FFF;
    border: none;
}
.header .header__share{
    display: flex;
}

.header .header__menu i{
    font-size: 20px;
    margin-left: 15px;
    color: #fb811e;
}

/* header */


/* banner */

.banner{
    background-color: #fb811e;
}

.banner .banner__container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    line-height: 4rem;
}

.banner .banner__container .ctr{
    flex: 0 0 50%;
    max-width: 50%;
}

.banner .banner__container .banner__left .banner__margin{
    width: 70%;
    margin-left: 3rem;
    color: #fff;
}

.banner .banner__container .banner__left .banner__margin h3{
    font-size: 50px;
}

.banner .banner__container .banner__left .banner__margin h3 span{
    font-weight: 50;
}


.banner .banner__container .banner__left .banner__margin h4{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 300;
}

.banner .banner__container .banner__left .banner__margin h4 span{
    font-weight: 600;
}

.banner .banner__container .banner__left .banner__margin button{
    display: inline-block;
    background-color: #fb811e;
    outline: none;
    padding: 15px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #fff;
    transition: 0.5s all;
}

.banner .banner__container .banner__left .banner__margin button:hover{
    color: #fb811e;
    background-color: #fff;
    
}



.banner .banner__container .banner__right{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(./img/dog-g2f4dcae5b_1280.jpg);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    position: relative;
} 

.banner .banner__container .banner__right .banner__all{
    top: 25%;
    left: 5%;
    position: absolute;
}

.anh{
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    
    display: block;
}

.banner .banner__container .banner__right .banner__all .banner__item{
    position: relative;
}

.banner .banner__container .banner__right .banner__all .banner__item:last-child{
    margin-top: 20px;
}

.banner .banner__container .banner__right .banner__all .banner__item .banner__text{
    position: absolute;
    width: 100%;
    top: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 1.5rem;
    padding: 10px;
}

.banner .banner__container .banner__right .banner__all .banner__item .banner__text h5{
    font-size: 18px;
    font-weight: 500;
}

.banner .banner__container .banner__right .banner__all .banner__item .banner__text p{
    font-weight: 600;
    color: #fb811e;
    transition: all 0.5s;
}

.banner .banner__container .banner__right .banner__all .banner__item .banner__text p:hover{
    color: #000;
    cursor: pointer;
}

/* banner */

/* amazing */
.amazing{
    padding: 48px 0;
}

.amazing .amazing__container .amazing__img img{
    display: block;
}

.imgamazing{
    height: 450px;
    width: 400px;
    overflow: hidden;
    object-fit: cover;
}

.amazing .amazing__container{
    display: flex;
    flex-wrap: wrap;
    padding: 48px 0;
    align-items: center;
}

.amazing .amazing__container .true{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 50px;
}

.amazing .amazing__container .amazing__text{
    margin-right: -30px;
}

.amazing .amazing__container .amazing__img{
    padding: 48px 0px;
    position: relative;
    /* display: flex; */
}

.amazing .amazing__container .amazing__img img{
    border-radius: 20px;
}

.amazing .amazing__container .amazing__img .amazing__ill{
    top: 0;
    left: 0;
    transform: translateY(-50px);
    transition: 0.5s all;
}

.amazing .amazing__container .amazing__img:hover .amazing__ill{
    transform: translateY(0px);
}

.amazing .amazing__container .amazing__img .amazing__ull{
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(-100px, 50px);
    transition: 0.5s all;
}

.amazing .amazing__container .amazing__img:hover .amazing__ull{
    transform: translate(-30px, 0px);
}

.amazing .amazing__container .amazing__text{
    margin-right: -30px;
}

.amazing .amazing__container .amazing__text h3{
    font-size: 45px;
    color: #fb811e;
}

.amazing .amazing__container .amazing__text p{
    margin: 30px 0;
    line-height: 30px;
    color: rgb(122, 122, 122);
    font-size: 18px;
}

.amazing .amazing__container .amazing__item{
    display: flex;
    width: 40%;
    align-items: center;
}

.amazing .amazing__container .amazing__item i{
    font-size: 30px;
    margin-right: 30px;
    color: #fb811e;
}


.amazing .amazing__container .amazing__item p{
    font-size: 16px;
    color: #000;
}
/* amazing */

/* our */
.our{
    background-color: #009f4d;
    padding: 48px 0;
}

.our .our__container{
    padding: 48px 0;
}

.our .our__container .our__all{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
    align-items: center;
}

.our .our__container .flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 30px;
}

.our .our__container .our__all .our__content h3{
    font-size: 45px;
    color: #fff;
}

.our .our__container .our__all .our__content p{
    color: #fff;
    line-height: 30px;
    margin: 30px 0;
    font-size: 1.25rem;
    font-weight: 300;
}

.our .our__container .our__all .our__content .our__money{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    line-height: 4rem;
}

.our .our__container .our__all .our__content button{
    background-color: #009f4d;
    outline: none;
    border-radius: 30px;
    border: 2px solid #fff;
    padding: 15px 40px;
    display: inline;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.our .our__container .our__all .our__image .our__img img{
    display: block;
    width: 400px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    
}

/* our */
/* vero */
.vero{
    padding: 48px 0;
}

.vero .vero__container{
    padding: 48px 0;
}

.vero .vero__container  .vero__content{
    display: flex;
    flex-wrap: wrap;
}

.vero .vero__container  .vero__content .flex{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.vero .vero__container  .vero__content .vero__text .vero__item{
    padding-top: 30px;
}

.vero .vero__container  .vero__content .vero__text .vero__item h3{
    font-size: 32px;
    color: #fb811e;
    margin-top: ;
}

.vero .vero__container  .vero__content .vero__text .boder{
    border-bottom: 2px solid rgb(226, 226, 226);
    
}

.vero .vero__container  .vero__content .vero__text .vero__item p{
    font-size: 17px;
    color: rgb(128, 125, 125);
    line-height: 30px;
    margin: 40px 0;
}

.vero .vero__container  .vero__content .right{
    text-align: right;
    padding-left: 5rem;
}

.vero .vero__container  .vero__content .left{
    padding-right: 5rem;
}

.vero .vero__container  .vero__content .vero__image img{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}

/* vero */

/* hello */
.hello{
    padding: 48px 0;
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/16-03-2021/bistros-liberty-demo_Free/602517918/web/assets/images/b2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hello .hello__container{
    padding: 48px 0px;
}

.hello .hello__container .hello__content{
    display: flex;
    flex-wrap: wrap;
}

.hello .hello__container .hello__content .hello__text{
    flex: 0 0   70%;
    max-width: 70%;
    padding-right: 10rem;
}

.hello .hello__container .hello__content .hello__number{
    flex: 0 0   30%;
    max-width: 30%;
}


.hello .hello__container .hello__content .hello__text h3{
    font-size: 40px;
    color: #fb811e;
}


.hello .hello__container .hello__content .hello__text p{
    font-size: 18px;
    color: rgb(95, 93, 93);
    line-height: 30px;
    margin: 40px 0;
}

.hello .hello__container .hello__content .hello__text button{
    outline: none;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    background-color: #fb811e;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: inline;
    margin-top: 20px;
}

.hello .hello__container .hello__content .hello__number .helloo__number1{
    margin-bottom: 40px;
}

.hello .hello__container .hello__content .hello__number .helloo__number1 h4{
    font-size: 70px;
    color: #fb811e;
    font-weight: 400;
    margin-bottom: 20px;
}

.hello .hello__container .hello__content .hello__number .helloo__number1 .hello__textnumber{
    font-size: 20px;
}

/* hello */

/* cake */

.cake{
    padding: 48px 0px;
}

.cake .cake__container{
    padding: 48px 0px;
}

.cake .cake__container .cake__content .cake__our{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.cake .cake__container .cake__content .cake__our h3{
    font-size: 40px;
    color: #fb811e;
    margin-bottom: 20px;
}

.cake .cake__container .cake__content .cake__our p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(96, 95, 95);
}

.cake .cake__container .cake__content .cake__bread{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.cake .cake__container .cake__content .cake__bread .cake__img img{
    display: block;
    object-fit: cover;
    overflow: hidden;
    height: 250px;
    width: 100%;
    border-radius: 20px;
}

.cake .cake__container .cake__content .cake__bread .cake__img{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 15px;
}

.cake .cake__container .cake__content .cake__bread .cake__img .cake__text{
    padding: 25px;
}

.cake .cake__container .cake__content .cake__bread .cake__img .cake__text p{
    font-size: 17px;
    color: rgb(97, 97, 97);
}

.cake .cake__container .cake__content .cake__bread .cake__img .cake__text h4{
    font-size: 25px;
    margin-top: 15px;
}

.cake .cake__container .cake__button{
    text-align: center !important;
}

.cake .cake__container button{
    font-size: 16px;
    outline: none;
    padding: 13px 30px;
    background-color: #fb811e;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    color: #fff;
}

.cake .cake__container .cake__content .cake__bread .cake__img::before{
    content:"";
    
}












/* cake */